.checkoutButton {
    border : #137E88 !important;
    background-color: #137E88 !important;
}

.checkoutContainer {
    font-family: 'Hind Siliguri', sans-serif;
    width: 60% !important;
    margin-left: 20%;
    
}